{
	email admin@airmovebr.com.br
}

http://191.252.226.11 {
	encode gzip

	handle /api/v1/* {
		reverse_proxy backend:3000
	}

	handle /storage/* {
		root * /srv
		file_server
	}

	redir /admin /admin/

	handle /admin/* {
		header Cache-Control "no-store, max-age=0"
		header Clear-Site-Data "\"cache\""
		root * /srv/admin
		uri strip_prefix /admin
		try_files {path} /index.html
		file_server
	}

	handle {
		root * /srv/landing
		try_files {path} /index.html
		file_server
	}
}

airmovebr.com.br {
	encode gzip

	handle /storage/* {
		root * /srv
		file_server
	}

	handle {
		root * /srv/landing
		file_server
	}
}

admin.airmovebr.com.br {
	encode gzip

	handle /storage/* {
		root * /srv
		file_server
	}

	handle {
		header Cache-Control "no-store, max-age=0"
		header Clear-Site-Data "\"cache\""
		root * /srv/admin
		file_server
	}
}

api.airmovebr.com.br {
	encode gzip

	handle /storage/* {
		root * /srv
		file_server
	}

	handle {
		reverse_proxy backend:3000
	}
}
